/* Cabeçalho */

.cabecalho__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.cabecalho__pesquisar__item{
    display: none;
}

/* Rodapé */

.rodape__container{
    display: flex;
    flex-flow: column wrap;
}

/* Seção superior */

.superior__secao__container{
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 15px;
    overflow: scroll;
}

/* Menu lateral */

.menu__container{
    position: fixed;
    bottom: 0;
    height: 74px;
    width: 100%;
}

.menu__lista{
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.menu__lista li{
    align-self: center;
}

.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4){
    display: none;
}

.menu__itens{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Responsividade */

@media (min-width: 846px){
    .cabecalho__pesquisar__item{
        display: block;
    }

    .menu__container{
        position: fixed;
        left: 0;
        top: 80px;
        height: auto;
        width: 74px;
    }

    .menu__lista{
        display: flex;
        justify-content: flex-start;
        padding-top: 15px;
        gap: 33px;
        flex-direction: column;
    }
    
    .rodape__container{
        justify-content: space-between;
    }
}

@media (min-width: 1440px){
    .menu__lista:nth-child(2),
    .menu__lista:nth-child(3),
    .menu__lista:nth-child(4){
        display: flex;
    }

    .menu__container{
        width: 239px;
        overflow: scroll;
    }

    .menu__lista{
        height: auto;
        padding: 20px 17px 20px 15px;
        gap: 15px;
    }

    .menu__itens{
        flex-direction: row;
        gap: 15px;
        align-items: center;
    }

    .menu__lista:nth-child(3){
        flex-direction: column-reverse;
    }
}