/* Cabeçalho */

.cabecalho__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.cabecalho__pesquisar__item{
    display: none;
}

/* Rodapé */

.rodape__container{
    display: flex;
    flex-flow: column wrap;
}

@media (min-width: 846px){
    .cabecalho__pesquisar__item{
        display: block;
    }
    
    .rodape__container{
        justify-content: space-between;
    }
}

